footer {
	background-color: $primary_clr;
	display: flex;
	justify-content: space-between;
	padding: 10px 50px;
	color: #fff;
	align-items: center;
	@include media-max-width(800) {
		display: block;
		text-align: center;
		padding: 10px 0;
	}

	.social-icons {
		display: flex;
		align-items: center;
		@include media-max-width(800) {
			display: block;
			margin-bottom: 25px;

			p {
				margin-bottom: 25px;
			}
		}

		& > * {
			margin-right: 15px;
		}

		.icon {
			padding: 5px;
			background: $secondary_clr;
			color: $primary_clr;
			border-radius: 5px;
			font-size: 25px;
			&:hover {
				color: $h_clr;
				background: $primary_clr;
			}
		}
	}
	.copyright {
		font-size: 10px;

		&__author {
			color: $secondary_clr;
			&:hover {
				color: $h_clr;
			}
		}
	}
}
