@mixin main {
  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: $main_font, $secondary_font, Verdana, Geneva, Tahoma,
      sans-serif;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  ul,
  ol {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: $primary_clr;
    color: #ffffff;
  }

  footer {
    margin-top: auto;
  }
}

@mixin easeOut {
  transition: all 0.8s ease-out;
}

@mixin hover-border {
  position: relative;
  z-index: -88;
  &:after,
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid;
    transition: all 1s;
  }
  &:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid $secondary_clr;
    border-left: 5px solid $secondary_clr;
  }
  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid $secondary_clr;
    border-right: 5px solid $secondary_clr;
  }
  &:hover {
    @include easeOut;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    &:before,
    &:after {
      width: 100%;
      height: 100%;
    }
  }
}

@mixin background($image) {
  @if $show-image {
    background: #{$image};
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    &:before {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba($primary_clr, $background-opacity);
      z-index: -100;
    }
  }
}

@mixin media-max-width($point) {
  @media (max-width: #{$point}px) {
    @content;
  }
}

@mixin media-min-width($point) {
  @media (min-width: #{$point}px) {
    @content;
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin css3-prefix($prop, $value) {
  -webkit-#{$prop}: #{$value};
  -moz-#{$prop}: #{$value};
  -ms-#{$prop}: #{$value};
  -o-#{$prop}: #{$value};
  #{$prop}: #{$value};
}

@mixin font-face($name, $file) {
  @font-face {
    font-family: "#{$name}";
    src: url("../fonts/#{$file}.eot");
    src: url("../fonts/#{$file}.eot?#iefix") format("embedded-opentype"),
      url("../fonts/#{$file}.woff") format("woff"),
      url("../fonts/#{$file}.ttf") format("truetype"),
      url("../fonts/#{$file}.svg?#webfont") format("svg");
  }
}

@mixin btn {
  border: 1px solid $h_clr;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 30px auto;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: $h_clr;
  }
}

@mixin wrapper($max-width, $padding) {
  max-width: #{$max-width}px;
  margin: 0 auto;
  padding: 0 #{$padding}px;
}
